<app-navbar-client></app-navbar-client>
<app-menu-lateral></app-menu-lateral>
<main style="margin-top:2em;width: 100%; height: 100%; text-align: center;">
    <h1>Tus productos favoritos</h1>
    
    <div class="container">
       
        <div class="cards row">
            <div class="card col col-5 col-xs-5 col-sm-5 col-md-5">
                <picture class="card__image w-100">
                    <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="...">
                </picture>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            <div class="card__info">
               <div class="card__info--title">
                  <h3>Ensalada</h3>
                  <p>Dulce & fresca</p>
               </div>
            </div>
            <div class="card__info--price">
                <p>Precio: $ 5</p>
                
            </div>
            <input type="button" value="Visitar" routerLink="/user/inicio">
         </div>
             <div class="card col col-5 col-xs-5 col-sm-5 col-md-5">
                <picture class="card__image w-100">
                    <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="...">
                </picture>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            <div class="card__info">
               <div class="card__info--title">
                  <h3>Ensalada</h3>
                  <p>Dulce & fresca</p>
               </div>
            </div>
            <div class="card__info--price">
                <p>Precio: $ 5</p>
                
            </div>
            <input type="button" value="Visitar" routerLink="/user/inicio">
         </div>
         <div class="card col col-5 col-xs-5 col-sm-5 col-md-5">
            <picture class="card__image w-100">
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="...">
            </picture>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        <div class="card__info">
           <div class="card__info--title">
              <h3>Ensalada</h3>
              <p>Dulce & fresca</p>
           </div>
        </div>
        <div class="card__info--price">
            <p>Precio: $ 5</p>
            
        </div>
        <input type="button" value="Visitar" routerLink="/user/inicio">
     </div>
        </div>
    </div>
</main>
