<app-navbar-client></app-navbar-client>
<app-menu-lateral></app-menu-lateral>
<div class="container">
    <div class="container">
        <h1>Tus pedidos</h1>
        <div class="row ">
          
            <div class="col col-1">
                <picture>
                    <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail" alt="...">
                </picture>
            </div>
            <div class="col col-3">
                <h3>Disco de maya</h3>
            </div>
            <div class="col col-4">
               <h3 class="store"> → City Pop Store</h3>
            </div>
            <div class="col col-4">
                <input type="button" class="details"value="Detalles" routerLink="/user/inicio">
            </div>
            <div class="col col-6 date_time">
                <h3 class="store">Martes, 14:23</h3>
            </div>
            <div class="col col-2">
            </div>
            <div class="col col-4">
                <input type="button" class="details estado"value="Recibido" routerLink="/user/inicio">
            </div>
            
        </div>
        <hr>
        <div class="row ">
          
            <div class="col col-1">
                <picture>
                    <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail" alt="...">
                </picture>
            </div>
            <div class="col col-3">
                <h3>Disco de maya</h3>
            </div>
            <div class="col col-4">
               <h3 class="store"> → City Pop Store</h3>
            </div>
            <div class="col col-4">
                <input type="button" class="details"value="Detalles" routerLink="/user/inicio">
            </div>
            <div class="col col-6 date_time">
                <h3 class="store">Martes, 14:23</h3>
            </div>
            <div class="col col-2">
            </div>
            <div class="col col-4">
                <input type="button" class="details estado"value="Recibido" routerLink="/user/inicio">
            </div>
            
        </div>
        <hr>
        <div class="row ">
          
            <div class="col col-1">
                <picture>
                    <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail" alt="...">
                </picture>
            </div>
            <div class="col col-3">
                <h3>Disco de maya</h3>
            </div>
            <div class="col col-4">
               <h3 class="store"> → City Pop Store</h3>
            </div>
            <div class="col col-4">
                <input type="button" class="details"value="Detalles" routerLink="/user/inicio">
            </div>
            <div class="col col-6 date_time">
                <h3 class="store">Martes, 14:23</h3>
            </div>
            <div class="col col-2">
            </div>
            <div class="col col-4">
                <input type="button" class="details estado"value="Recibido" routerLink="/user/inicio">
            </div>
            
        </div>
        <hr>
        <div class="row ">
          
            <div class="col col-1">
                <picture>
                    <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail" alt="...">
                </picture>
            </div>
            <div class="col col-3">
                <h3>Disco de maya</h3>
            </div>
            <div class="col col-4">
               <h3 class="store"> → City Pop Store</h3>
            </div>
            <div class="col col-4">
                <input type="button" class="details"value="Detalles" routerLink="/user/inicio">
            </div>
            <div class="col col-6 date_time">
                <h3 class="store">Martes, 14:23</h3>
            </div>
            <div class="col col-2">
            </div>
            <div class="col col-4">
                <input type="button" class="details estado"value="Recibido" routerLink="/user/inicio">
            </div>
            
        </div>
        <hr>
        <div class="row ">
          
            <div class="col col-1">
                <picture>
                    <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail" alt="...">
                </picture>
            </div>
            <div class="col col-3">
                <h3>Disco de maya</h3>
            </div>
            <div class="col col-4">
               <h3 class="store"> → City Pop Store</h3>
            </div>
            <div class="col col-4">
                <input type="button" class="details"value="Detalles" routerLink="/user/inicio">
            </div>
            <div class="col col-6 date_time">
                <h3 class="store">Martes, 14:23</h3>
            </div>
            <div class="col col-2">
            </div>
            <div class="col col-4">
                <input type="button" class="details estado"value="Recibido" routerLink="/user/inicio">
            </div>
            
        </div>
    </div>
   
</div>
