
<!-- Hack Para Desplegar el Menú activando un checkbox -->
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="nav">
    <picture>
        <img src="../../../assets/img/Ellipse 432.png" class="img-fluid  img-thumbnail img-circle" style="border-radius: 50%;"alt="...">
    </picture>
    <h1>Sali Hernández</h1>
  <a href="#" class="nav__item current" routerLink="/user/editar-perfil">Editar perfil</a>
  <a href="#" class="nav__item" routerLink="/user/pedidos">Mis pedidos</a>
  <a href="#" class="nav__item" routerLink="/user/favoritos">Mis favoritos</a>
  <a href="#" class="nav__item" routerLink="/user/metodos-de-pago">Métodos de pago</a>
  
    
    
  
</nav>
