@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Lato');


*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
body{
  background: #DCEAED;
  height: 100%;
}

body{
  background:
    linear-gradient(
      rgba(220, 234, 237, .7),
      rgba(220, 234, 237, .7)
    ),
    url(http://res.cloudinary.com/jenelle-miller/image/upload/v1518619522/doodles_cuau2z.png) repeat;
}

.container{
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: #d44f92;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.form-background{
  background: #fff;
  width: 420px;
  border-radius: 10px;
  padding: 32px;
  align-self: center;
-webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
} 

form{
  text-transform: capitalize;
  text-align: center;
}

input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid #d44f92;
  padding: 15px 20px;
  color:#8498AF;
  font-size: .9rem;
  transition: .4s;
  
}

[type="submit"]{
  background: #d44f92;
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: .8rem;
  transition: .4s;
  border: none;
  box-shadow: none;
  margin: 0;

  
}

.sign-up-divider{
  text-align: center;
  color: #C4C8D4;
  font-size: .8rem;
  letter-spacing: .5px;
  padding: 24px 0;
  

}


.login{
  text-align: center;
  margin-top: 24px;
  font-size: .8rem;
}
a{
    margin-left: 4px;
    text-decoration: none;
    color: #b744bb;
    transition: .3s;
}
a:hover{
    color: #fff;
  
}