<app-landing-page-navbar></app-landing-page-navbar>
<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="form-background" style="display:table-cell;">
        <h1>Iniciar sesión</h1>
       <form>
            <input type="text" name="firstname" placeholder="Usuario">
            <br>
            <input type="text" name="lastname" placeholder="Email">
            <br><br>
            <input type="submit" value="Ingresar" routerLink="/user/inicio">
      </form>
    
    </div>
    <div class="login">
        <p>¿Necesitas una cuenta?<a href="#" routerLink="/user/registro-cliente">Registrarse</a></p>
    </div>
</div>
<app-landing-page-footer></app-landing-page-footer>
  