<app-navbar-client></app-navbar-client>
<app-menu-lateral></app-menu-lateral>


<div class="contenedor">
    <div class="row">
        <div class="col col-6">
            <h1 style="font-weight: 500; text-align: center; ">
    
                Tarjetas
                
                </h1>
        </div>
        <div class="col col-6" >
            
            <input class="button" type="button"value="Agregar" routerLink="/user/agregar-metodo-de-pago">
        </div>
    </div>
    
    
    
    

    <!-- Cards -->

    <div class="credit-card visa selectable">
        <div class="credit-card-last4">
            4242
        </div>
        <div class="credit-card-expiry">
            08/25
        </div>
    </div>

    <div class="credit-card mastercard selectable">
        <div class="credit-card-last4">
            8210
        </div>
        <div class="credit-card-expiry">
            10/22
        </div>
    </div>

    <div class="credit-card amex selectable">
        <div class="credit-card-last4">
            8431
        </div>
        <div class="credit-card-expiry">
            01/24
        </div>
    </div>

    <div class="credit-card discover selectable">
        <div class="credit-card-last4">
            9424
        </div>
        <div class="credit-card-expiry">
            06/23
        </div>
    </div>
  
    <div class="credit-card diners selectable">
        <div class="credit-card-last4">
            3237
        </div>
        <div class="credit-card-expiry">
            08/25
        </div>
    </div>

    
    <div class="credit-card jcb selectable">
        <div class="credit-card-last4">
            1060
        </div>
        <div class="credit-card-expiry">
            02/21
        </div>
    </div>
  
  
    
    <div class="credit-card unionpay selectable">
        <div class="credit-card-last4">
            0005
        </div>
        <div class="credit-card-expiry">
            03/25
        </div>
    </div>



</div>
