.container{
    position: relative;
    
}
input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #d44f92;
    padding: 15px 20px;
    color:#8498AF;
    font-size: .9rem;
    transition: .4s;
    
  }
  
  [type="button"]{
    background: #d44f92;
    border-radius: 30px;
    padding: 16px 30px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    transition: .4s;
    border: none;
    box-shadow: none;
    margin: 0;
  
    
  }
  .center{
    width: 100%;
    text-align: center;
  }